body {
    height: 100%;
    background-image: url(./images/brewery-gray-background.jpg);
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
    background-attachment: fixed;
}
   
main {
    min-height: 100vh;
}

label {
    font-size: 2rem;
}

#jumbotron-body {
    background-image: url("./images/wood-background.jpg");
    height: 200px;
}

#logo {
    margin-top: 30px;
    margin-left: 10px;
}


#result-style {
    color: white;
}

#sportsBin {
    color: white;
}

#savedBreweries > button {
    background-color: #8D6333 ;
}

.lead {
    margin-left: 13px;
}

